html {
    width: 100%;
    overflow-x: hidden;
}

.heading{
    width: 100%;
    color: white;
    background-color: rgb(4,42,91);
}

.heading h1 {
    margin: 0 auto;
}

.news-nav {
    height: fit-content;
    border: none;
    background-color: rgb(4,42,91);
    border: 1px solid rgb(251,212,91);
    width: 100%;
}

.news-nav p {
    color: white;
}

.article {
    max-width: 800px;
}

.thumbnail {
    display: block;
    width: fit-content;
    margin: 0 auto;

}
